.row {
    @mixin clearfix;

    overflow: hidden;

    /* &--gutters:last-child {
        margin-bottom: 0;
    } */

    @mixin atMedium {
        &__project-medium-4 {
            float: left;
            width: 33.33%;
    
            /* margin-right: 0;
            padding-right: 0; */
        }
    }

    &--gutters > div {
        padding-right: 40px;
        
        @mixin atSmall {
            &--gutters > div {
                padding-right: 40px;
                
            }
        }
    }

    &--gutters > div:last-child {
        padding-right: 0px;
        
    }
}